<display-text>
    <p>{ state.value }</p>
    <script>
    export default {
        onMounted() {
            this.appState.displayText = this
            this.update({
                value: ''
            })
            this.hub.invoke("GetText");
        }
    }
  </script>
</display-text>