<example-button>
    <button class="button button-outline" onclick="{ () => newGame() }">"New game"</button>
    <script>
    export default {
            async newGame() {
                await this.hub.invoke("NewGame");
            }
    }
  </script>
</example-button>